body, html{
	min-height: 100%;
	height: 100%;
	position: relative;
}

html{
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
 	color: var(--text-color);
 	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	line-height: 1.5;
  background-color: var(--body-bg);
  transition: color .6s, background-color .6s;
}

img {
	display: inline-block;
	max-width: 100%;
  height: auto;
  object-fit: cover;
}

section {
	margin-bottom: calc(var(--space) * 2);
}

.layout {
	max-width: var(--content-width);
	margin: 0 auto;
	padding-left: var(--space);
	padding-right: var(--space);
	padding-bottom: calc(var(--space) * 2);
}
