* 
{
	margin:0; padding:0; outline: 0;
  background:transparent;
  vertical-align:baseline;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {border: 0;}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section, main 
{
    display:block;
}

nav ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
input, select {vertical-align:middle;}

sup { vertical-align: super; }
/* sub { vertical-align: sub; } */

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.33s ease-in-out, opacity 0.33s ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
.btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out, opacity 0.33s ease-in-out;
}

p {
  padding: 0;
  margin: 0;
}